/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
  font-family: "Avenir Next", "Hind", "helvetica neue", helvetica, arial, sans-serif;
  color: #555555;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  border: 0 none;
  outline: 0;
  padding: 0px;
  margin: 0;
}
a {
  color: #ffc55c;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
a:hover {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
h1 {
  font-size: 50px;
}
.emphasis {
  color: #ffc55c;
}
button {
  font-family: "Avenir Next", "Hind";
  border: none;
  background-color: #ffb329;
  border: 2px solid #ffb329;
  color: #f8f2e3;
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
button:hover {
  background-color: #ffaa10;
  border: 2px solid #ffaa10;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
button:focus {
  outline: none;
}
input {
  font-family: "Avenir Next", "Hind";
  padding: 12px 15px;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
input:focus {
  border: 2px solid #ffc55c;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
li {
  list-style-type: none;
}
a.info-icon {
  border: 2px solid #ffc55c;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
a.info-icon:hover {
  background-color: #ffc55c;
  color: white;
}
.logo {
  display: inline-block;
}
.logo svg {
  height: 55px;
  margin-top: 10px;
}
.logo svg path {
  fill: #ffc55c;
}
nav.site-nav {
  background-color: white;
  position: fixed;
  z-index: 10;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px 40px 10px 40px;
  border-bottom: 2px solid #eee;
  opacity: 0.98;
}
nav.site-nav .logo {
  float: left;
}
nav.site-nav .nav-community {
  display: inline-block;
  margin: 15px 20px;
}
nav.site-nav .nav-community .community-name {
  font-weight: 600;
}
nav.site-nav .nav-menu {
  float: right;
  color: #f8f2e3;
  list-style-type: none;
  margin-top: 0;
}
nav.site-nav .nav-menu li {
  display: inline;
  margin-left: 10px;
}
nav.site-nav .nav-menu li a {
  position: relative;
  color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 15px;
}
nav.site-nav .nav-menu li a .nav-item-name {
  margin-left: 5px;
}
nav.site-nav .nav-menu li a .in-cart-number {
  position: absolute;
  top: 2px;
  left: 34px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  padding: 2px;
  color: white;
  background-color: #f87676;
}
nav.site-nav .nav-menu li a.link-emphasis {
  border: 2px solid #ffc55c;
  color: #ffc55c;
}
nav.site-nav .nav-menu li a:hover {
  color: #ffc55c;
}
nav.site-nav .nav-menu li a:hover svg path {
  fill: #ffc55c;
  transition: all .15s;
}
nav.site-nav .nav-menu li a svg {
  transition: all .15s;
  top: 6px;
  height: 25px;
  width: 30px;
}
nav.site-nav .nav-menu li a svg path {
  fill: #888;
  transition: all .15s;
}
nav.site-nav .nav-menu li.user-menu img,
nav.site-nav .nav-menu li.user-menu .user-name {
  display: inline-block;
  transition: all .15s;
}
nav.site-nav .nav-menu li.user-menu img {
  position: relative;
  top: 14px;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 40px;
  border: 2px solid #eee;
}
nav.site-nav .nav-menu li.user-menu a:hover img {
  transform: rotate(4deg);
  border: 2px solid #ffc55c;
}
nav.site-nav .nav-menu li.user-menu a:hover .user-name {
  transition: all .15s;
}
.market {
  margin-top: 80px;
}
.market nav.categories-nav {
  background-color: #fff;
}
.market nav.categories-nav ul {
  width: 90%;
  margin: 0 auto;
}
.market nav.categories-nav ul li {
  margin: 0;
  background-color: #fff;
  transition: background-color 0.15s;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  width: 16%;
}
.market nav.categories-nav ul li:nth-child(2),
.market nav.categories-nav ul li:hover {
  background-color: #f1f1f1;
  transition: background-color 0.15s;
}
.market nav.categories-nav ul li:nth-child(2) svg path,
.market nav.categories-nav ul li:hover svg path {
  fill: #ffc55c;
  transition: all .15s;
}
.market nav.categories-nav ul li:nth-child(2) a span,
.market nav.categories-nav ul li:hover a span {
  color: #ffc55c;
  transition: all .15s;
}
.market nav.categories-nav ul li svg {
  display: block;
  margin: 0 auto 10px auto;
  height: 50px;
}
.market nav.categories-nav ul li svg path {
  fill: #999;
  transition: all .15s;
}
.market nav.categories-nav ul li a {
  color: #555555;
  transition: all .15s;
}
.market ul.items {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.market ul.items li.item {
  display: inline-block;
  padding: 10px;
  width: 33%;
  zoom: 1;
}
.market ul.items li.item:before,
.market ul.items li.item:after {
  content: "";
  display: table;
}
.market ul.items li.item:after {
  clear: both;
}
.market ul.items li.item .item-content {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.market ul.items li.item .item-name {
  margin-bottom: 0;
}
.market ul.items li.item .item-price {
  margin-top: 0;
  font-size: 24px;
}
.market ul.items li.item:hover .image img {
  margin-left: 20px;
  transition: margin-left 0.3s;
}
.market ul.items li.item:hover button.add-button {
  opacity: 1;
  transition: opacity .3s;
}
.market ul.items li.item:hover .item-description {
  margin-left: 0;
  top: 0;
  left: 0;
  transition: left .3s;
}
.market ul.items li.item .image {
  display: block;
  text-align: center;
}
.market ul.items li.item .image img {
  margin-left: 0px;
  transition: margin-left 0.3s;
  width: 80%;
}
.market ul.items li.item .item-description {
  background: rgba(150, 150, 150, 0.9);
  color: white;
  font-size: 14px;
  padding: 20px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 60%;
  left: -60%;
  transition: left .15s;
}
.market ul.items li.item .item-description p {
  margin-top: 0;
}
.market ul.items li.item .item-description .producer {
  width: 100%;
}
.market ul.items li.item .item-description .producer h3 {
  margin: 10px 0;
}
.market ul.items li.item .item-description .producer-image {
  float: left;
  width: 30%;
  height: auto;
}
.market ul.items li.item .item-description .producer-image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid white;
}
.market ul.items li.item .item-description .producer-name {
  float: left;
  margin-left: 20px;
  width: 58%;
}
.market ul.items li.item .item-description .producer-name p {
  margin: 0;
}
.market ul.items li.item button.add-button {
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  transition: opacity .3s;
}
