@font-face {
  font-family: 'Soehne Buch';
  font-display: block; /* No longer causing FOUT */
  src: local('Soehne Buch'), local('soehneBuch'),
  url('./soehne/soehne-web-buch.eot') format('eot'),
  url('./soehne/soehne-web-buch.woff') format('woff'),
  url('./soehne/soehne-web-buch.woff2') format('woff2');
}
@font-face {
  font-family: 'Soehne Halbfett';
  font-display: block; /* No longer causing FOUT */
  src: local('Soehne Halbfett'), local('soehneHalbfett'),
  url('./soehne/soehne-web-halbfett.eot') format('eot'),
  url('./soehne/soehne-web-halbfett.woff') format('woff'),
  url('./soehne/soehne-web-halbfett.woff2') format('woff2');
}
@font-face {
  font-family: 'Soehne Leicht';
  font-display: block; /* No longer causing FOUT */
  src: local('Soehne Leicht'), local('soehneLeicht'),
  url('./soehne/soehne-web-leicht.eot') format('eot'),
  url('./soehne/soehne-web-leicht.woff') format('woff'),
  url('./soehne/soehne-web-leicht.woff2') format('woff2');
}